<ion-header [translucent]="true">
  <ion-toolbar class="ion-padding">
    <ion-title>Lista de Produtos</ion-title>
    <ion-button slot="end" routerLink="/home">Voltar</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <br>
  <ion-item *ngFor="let produto of listaProdutos">
    <ion-label>
      <h1>{{produto.id}}</h1>
      <h1>{{produto.nomeProduto}}</h1>
      <p>{{produto.descricao}}</p>
      <h2>{{produto.preco}}</h2>
    </ion-label>
    <ion-button color="warning" (click)="alterarProduto(produto.id!)">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>
    <ion-button color="danger" (click)="confirmarExclusao(produto.id!)">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" routerLink="/create-produto">Cadastrar Produto
</ion-button>
  </ion-toolbar>
</ion-footer>
